body {
    min-width: 500px;
    width: 960px;
    height: 600px;
}

#add-server-form {
    display: none;
}

.tc-url { width: 25rem; }

#add-server-button, #update-server-button { margin-top: 2rem;}

#tc-server-list {
    display: none;
    list-style: none;
    padding-left: 0;
    margin-top: 1rem;
}

#server-list {
    width: 100%;
    float: left;
    margin-bottom: 1rem;
    position: absolute;
}

#server-settings {
    border-left: 1px solid #666;
    margin-bottom: 1rem;
    width: 100%;
    float: left;
    padding: 0 1rem;
    display: none;
    position: absolute;
}

#projects-and-builds-list-container ul{
    list-style: none;
}

#projects-and-builds-list-container li.closed ~ ul{
    display: none;
}

#projects-and-builds-list-container > ul{
    padding-left: 0;
}