<div class="build-grid-item grid-item pre-animate-in {{colSize}}" data-build-id="{{id}}">
  <h4 class="title build-title"><i class='fa fa-cubes'></i>{{name}}</h4>
  <div class="build-requestor"></div>
  <div class="build-time"></div>
  {{> DashboardResizerPartial }}
</div>