<div class="server-grid-item grid-item {{colSize}}" data-server-name="{{id}}">
  <h2 class="title"><i class='fa fa-server'></i>{{displayName}}</h2>
  {{> DashboardResizerPartial }}
  <div class="server-contents grid-item-contents"></div>
</div>