<div class="project-grid-item grid-item {{colSize}}" data-server-name="{{id}}">
  <h3 class="title"><i class="fa fa-sticky-note-o"></i>{{name}}</h3>
  {{> DashboardResizerPartial }}
  <div class="project-contents grid-item-contents"></div>
</div>