<div class="resizer-buttons">
  <div class="small-resizer-button resizer-button">S</div>
  <div class="med-resizer-button resizer-button">M</div>
  <div class="large-resizer-button resizer-button">L</div>
</div>